.DS_Store

# clion
.idea/
cmake-build-*/

# exporters
GettingStarted.html
eclipse-extras/

# mbed build system
mbed-os/
mbed_settings.py
mbed_config.h
*.pyc
BUILD/
cmake-build-debug/

mbed-os
BSP_B-L475E-IOT01/
COMPONENT_ism43362/